**First Python Program**

In [2]:
print("Hello World")

Hello World

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\saket chaudhry\anaconda3\lib\site-packages

You are using pip version 9.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

**Python Operators**

In [6]:
# Comment

In [9]:
a = 2
print(a)

2

In [10]:
3 + 5  # Arthematic Operator

8

In [12]:
3 - 5

-2

In [13]:
3*5

15

**Data Types**

In [14]:
3 ** 5

243

In [16]:
3*5

15

In [17]:
'sa'*3

'sasasa'

In [18]:
3/2

1.5

In [19]:
3//2

1

In [20]:
5%3

2

In [21]:
2 | 3

3

**Data Types**
* String
* List
* Tuple
* Set
* Dictionary

In [33]:
raw_str = 'Python workshop'  # Snake-Ladder Notation 
rawStr =  "Python Workshop"  # Camelcase Notation
raw_str1 = """  This is a Python
workshop for \\
"B.Sc" Students.
"""                          # Multiline Comments

In [34]:
raw_str

'Python workshop'

In [35]:
print(raw_str1)

  This is a Python
workshop for \
"B.Sc" Students.

In [40]:
a = "jsagfjsdgfdsfgdsfgggggggsgdhdhd\
hdhdhdhdhdhdhdhdhdhdhdhdsagh"
print(a)

jsagfjsdgfdsfgdsfgggggggsgdhdhdhdhdhdhdhdhdhdhdhdhdhdhdsagh

In [41]:
#immutable
raw_str

'Python workshop'

In [42]:
raw_str.capitalize()

'Python workshop'

In [43]:
raw_str2 = 'abc'

In [44]:
raw_str2.capitalize()

'Abc'

In [45]:
raw_str.lower()

'python workshop'

In [46]:
raw_str2.upper()

'ABC'

In [47]:
raw_list = []
print(type(raw_list))

<class 'list'>

In [50]:
raw_list.append(2)
print(raw_list)

[2, 2, 2]

In [51]:
raw_list1 = ["saket", "mca", "bsc"]
print(len(raw_list1))

3

In [53]:
print(raw_list1[1])

mca

In [54]:
raw_list1[2][2]

'c'

In [55]:
raw_list2 = [3, 4.5, 'saket', "mca"]

In [56]:
for temp in raw_list2:
    print(temp, type(temp))

3 <class 'int'>
4.5 <class 'float'>
saket <class 'str'>
mca <class 'str'>

In [57]:
raw_list.append(raw_list2)

In [58]:
len(raw_list)

4

In [59]:
len(raw_list2)

4

In [60]:
raw_list.append(raw_list2)

In [61]:
len(raw_list)

5

In [62]:
raw_list

[2, 2, 2, [3, 4.5, 'saket', 'mca'], [3, 4.5, 'saket', 'mca']]

In [63]:
raw_list3 = [2,3]
raw_list4 = [5, 6]

In [65]:
raw_list3.extend(raw_list4)
print(raw_list3)

[2, 3, 5, 6, 5, 6]

In [66]:
# Print Statement

In [67]:
print("Hello World")
print("Hello" + "Saket")

Hello World
HelloSaket

In [68]:
v1 = "saket"
v2 = 3
print(v1, v2)

saket 3

In [70]:
print("my name is ", v1, "and", v2,  "year experience")

my name is  saket and 3 year experience

In [73]:
# String Formater Method
print("My name is {} and {} year experience"\
      .format(v1,v2))

My name is saket and 3 year experience

In [74]:
print("My name is {0} and {1} year experience. Now {0} is\
      taching python to graduate {1} studenst "\
      .format(v1,v2))

My name is saket and 3 year experience. Now saket is      taching python to graduate 3 studenst

In [76]:
set(raw_list2)

{3, 4.5, 'mca', 'saket'}

In [77]:
raw_list5 = ["saket", "shyam", "mohan", "jhon", "jon"]
raw_list6 = ["saket", "shyam", "mohan",\
             "jhon", "mohan", "jhon", "ram"]

In [79]:
raw_set1 = set(raw_list5)
raw_set2 = set(raw_list6)

In [81]:
print(raw_set1)
print(raw_set2)

{'shyam', 'jhon', 'mohan', 'jon', 'saket'}
{'shyam', 'jhon', 'mohan', 'ram', 'saket'}

In [83]:
print(raw_set1.union(raw_set2))

{'shyam', 'jhon', 'mohan', 'ram', 'jon', 'saket'}

In [84]:
print(raw_set2.union(raw_set1))

{'shyam', 'jhon', 'mohan', 'ram', 'jon', 'saket'}

In [85]:
print(raw_set1.intersection(raw_set2))

{'mohan', 'shyam', 'jhon', 'saket'}

In [86]:
print(raw_set1.difference(raw_set2))

{'jon'}

In [87]:
print(raw_set2.difference(raw_set1))

{'ram'}

In [88]:
raw_tuple = (4, 5)
raw_tuple1 = "saket", "kumar"

In [90]:
print(len(raw_tuple))
print(len(raw_tuple1))

2
2

In [93]:
print(raw_tuple1[1][1])

u

In [94]:
raw_dict = {
    "name": "saket",
    "subject": "python",
    "year": 3,
    "student_names": ["shyam", "jon"]
}

In [95]:
raw_dict.keys()

dict_keys(['name', 'subject', 'year', 'student_names'])

In [97]:
raw_dict.values()

dict_values(['saket', 'python', 3, ['shyam', 'jon']])

In [99]:
for k in raw_dict.items():
    print(k)

('name', 'saket')
('subject', 'python')
('year', 3)
('student_names', ['shyam', 'jon'])

In [100]:
for k, v in raw_dict.items():
    print("I m the key {0} and my value is {1}"\
          .format(k,v))

I m the key name and my value is saket
I m the key subject and my value is python
I m the key year and my value is 3
I m the key student_names and my value is ['shyam', 'jon']

In [101]:
raw_dict["name"] = "Saket"

In [102]:
raw_dict["contact"] = 'saket_au@rediffmailcom'

In [104]:
raw_dict

{'contact': 'saket_au@rediffmailcom',
 'name': 'Saket',
 'student_names': ['shyam', 'jon'],
 'subject': 'python',
 'year': 3}

In [105]:
raw_dict["z"] = 's'

In [107]:
raw_dict["name"]

'Saket'

In [108]:
raw_dict.get("name", "")

'Saket'

In [113]:
l1 = ["saket"]
l2 = l1                    # Reference
l1.append("kumar")
print(l2)

['saket', 'kumar']

In [114]:
l1 = ["saket"]
l2 = l1[:]                    # deep copy
l1.append("kumar")
print(l2)

['saket']

In [120]:
# Slicing 
# variable_name[start: end: step_size]
# end -1
print(raw_str)
print(raw_str[0:3])
print(raw_str[ : : 2])
print(raw_str[-1])

Python workshop
Pyt
Pto okhp
p

In [124]:
print(raw_list)
print(raw_list[3:])

[2, 2, 2, [3, 4.5, 'saket', 'mca'], [3, 4.5, 'saket', 'mca']]
[[3, 4.5, 'saket', 'mca'], [3, 4.5, 'saket', 'mca']]

**Parameter Passing Technique**

In [125]:
def sum_two(first_number, second_number):   # copy value technique
    print("sum of {} and {} is {}".format(first_number, second_number,\
                                          first_number + second_number))
    return

In [126]:
sum_two(3,5)

sum of 3 and 5 is 8

In [127]:
def volume(length, weidth=4, height=10):      # Default Value technique
    print("volume = {}".format(length*weidth*height))
    return

In [129]:
volume(3, 4, 5)    # 60
volume (3, 5)      # 150
volume (3)         # 120
volume()           # argument error

volume = 60
volume = 150
volume = 120

TypeError: volume() missing 1 required positional argument: 'length'

In [132]:
  def volume_kw(l, w, h):          # keyword argument
        print("volume = {}".format(l + w*h))
        return

In [134]:
volume_kw(l = 2, w = 5, h = 10)    # 52
volume_kw(w = 5, l = 2, h = 10)    #52

volume = 52
volume = 52

In [135]:
def print_all(*kw1):        # Varaiable argumenet passing tehnique: as a list
    for k in kw1:
        print(k)
    return

In [136]:
print_all("saket", "kumar")

saket
kumar

In [137]:
print_all(2, 3, 4)

2
3
4

In [148]:
def print_alld(**kw):    # variable arguments passing technique: as a key, value pair
    for k in kw:
        print(k, kw[k])
    return

In [149]:
print_alld(name="saket", course="BSc")

name saket
course BSc

In [151]:
def print_a(*kw1, **kw2):
    for k in kw1:
        print(kw1)
    for k in kw2:
        print(k, kw2[k])
print_a("saket", "kumar", [2, 3], 3, name="saket", subject="pyhton", year=3)

('saket', 'kumar', [2, 3], 3)
('saket', 'kumar', [2, 3], 3)
('saket', 'kumar', [2, 3], 3)
('saket', 'kumar', [2, 3], 3)
name saket
subject pyhton
year 3